@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.edit-icon, .delete-icon {
    width: 40px;
    cursor: pointer;
}

.cat-image {
    width: 300px;
    border: 1px solid black;
    margin-left: 10px;
}

.App {
    background-color: black;
    height: 100vh;
}

#root {
    background-color: black;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    background-color: antiquewhite;
    padding: 20px;
    color: rebeccapurple;
    margin: 0 auto 0 auto;
    width: 400px;
    margin-top: 50px;
    color: rebeccapurple;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 6px 15px -1px #FFFFFF;
}

/* styles.css */
.amplify-textfield {
    --amplify-components-fieldcontrol-border-color: rebeccapurple;
  }

.amplify-field__description {
    font-size: 20px!important;
    color: rebeccapurple!important;
  }

  .amplify-button[data-variation=link] {
      margin-bottom: 10px;
  }

  .amplify-card[data-variation=elevated] {
    display: flex;
    background-color: azure;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin-top: 50px!important;
    margin-bottom: 50px!important;
    background-color: antiquewhite!important;
    color: rebeccapurple;
    margin: 0 auto 0 auto;
    width: 400px;
    border: 5px solid white!important;
    border-radius: 10px!important;
    box-shadow: 0px 6px 15px -1px #FFFFFF!important;
  }

  .edit-delete-btns {
      color: black;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
  }

#edit:hover {
    color: green;
}

#delete:hover {
    color: red;
}

.username {
    margin-right: 125px;
    margin-top: 10px;
}