@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

html {
    background-color: black!important;
}

.about-wrapper {
    position: relative;
    text-align: center;
    color: white;  
   
    #cat-img {
        width: 100%;    
        margin-top: 5em;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .paws {
        @include paws;
        color: $text-color-light;
    }

    .centered-btn {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
      }
      .centered-btn1 {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
      }

      .centered-btn, .centered-btn1 {
          @include buttons;              
      }
      
      #btn1, #btn2 {
          text-decoration: none;
      }

      #btn1, #btn2 {
        text-decoration: none;
      }   

      #btn1:active, #btn2:active {
        color: black;
      }

      .centered-btn:hover, .centered-btn1:hover {
        background-color: #F3F4F6;
        text-decoration: none;
        transition-duration: 0.1s;
      }
      
      .centered-btn:disabled, .centered-btn1:disabled {
        background-color: #FAFBFC;
        border-color: rgba(27, 31, 35, 0.15);
        color: #959DA5;
        cursor: default;
      }
      
      .centered-btn:active, .centered-btn1:active {
        background-color: #EDEFF2;
        box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
        transition: none 0s;
      }
      
      .centered-btn:focus, .centered-btn1:focus {
        outline: 1px transparent;
      }
      
      .centered-btn:before, .centered-btn1:before {
        display: none;
      }
      
      .centered-btn:-webkit-details-marker, .centered-btn1:-webkit-details-marker {
        display: none;
      }
  
}
