@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Lato&family=Pacifico&display=swap');

.header-wrapper {
    @include nav;
    .nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      align-content: center;
      justify-content: flex-end;
      align-items: center;
  }
    background-color: $brand-color;
    height: 8em;
    border-bottom: 1px solid white;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Pacifico', cursive;
    ul {
      float: right!important;
      margin: 10px 30px 0px 0px!important;
      padding: 0!important;
    }   
   li {
    list-style-type: none!important;
    display: inline!important;
    right: 0!important;    
    padding: 20px!important;
    font-size: 30px!important;
    color: $text-color-light;  
   }
   .icon-and-name {      
    float:left;
    margin: 30px 0px 0px 30px;    
    
  }
   .cat-icon {
       color: $text-color-light;
   }
   a:link {
    text-decoration: $text-color-light;
  }  
  a:visited {
    text-decoration: none;
    color: $text-color-light;
  }      
  a:hover {
    @include nav-hover;
          
  }   
}

.footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

//Media Queries
@media only screen and (max-width: 920px) {
  .header-wrapper {
    display: flex!important;
    flex-direction: column!important;
    flex-wrap: wrap!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 10px;   
    li {
      font-size: 25px!important;
      padding: 10px!important;      
    }
    .icon-and-name {
      margin-left: 5em!important;
      
    }
    .nav {
      margin-left: 2em!important;
    }
  }
}

@media only screen and (max-width: 550px) {
  .header-wrapper {
    display: flex!important;
    flex-direction: column!important;
    flex-wrap: wrap!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 5px!important;   
    li {
      font-size: 18px!important;
      padding: 10px!important;      
    }
    .icon-and-name {
      margin-left: 5em!important;
      margin-top: -20px!important;
      
    }
    .nav {
      margin-left: 2em!important;
    }
  }
}