@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header-wrapper {
    @include nav;
    background-color: $brand-color;
    height: 8em;

   li {
    list-style-type: none;
    display: inline;
    padding: 20px;
    font-size: 30px;   
   }

   .cat-icon {
       color: $text-color-light;
   }

   a:link {
    text-decoration: $text-color-light;
  }
  
  a:visited {
    text-decoration: none;
    color: $text-color-light;
  }      
  a:hover {
    @include nav-hover;
          
  }           
}