@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header-wrapper {
    @include nav;
    background-color: $brand-color;
    height: 8em;

    ul {
      float: right;
      margin: 10px 30px 0px 0px;
      padding: 0;
    }
   
   li {
    list-style-type: none;
    display: inline;
    right: 0;    
    padding: 20px;
    font-size: 30px;
    color: $text-color-light;  
   }
   .icon-and-name {      
    float:left;
    margin: 30px 0px 0px 30px;    
    
  }

   .cat-icon {
       color: $text-color-light;
   }

   a:link {
    text-decoration: $text-color-light;
  }
  
  a:visited {
    text-decoration: none;
    color: $text-color-light;
  }      
  a:hover {
    @include nav-hover;
          
  }
   
}